<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title><%- pageTitle %> | bluewrite</title>
        <meta name="description" content="<%- description %>" />
        <meta name="viewport" content="width=device-width" />
        <meta name="robots" content="noindex">

        <%- include head.ejs %>

        <%- stylesheets %>
    </head>
    <body>
        <div id="content">
            <div id="note-toolsBar">
                <button id="returnButton"><svg><use xlink:href="<%- ciconsUrl %>#arrow_left"></use></svg></button>
        
                <div id="separator"></div>
        
                <button id="edit" onclick="switchEdit()" title="Ctrl + E"><svg><use xlink:href="<%- ciconsUrl %>#edit"></use></svg></button>

                <button id="buttonExport"><svg><use xlink:href="<%- ciconsUrl %>#export"></use></svg></button>
        
                <button id="shareButton"><svg><use xlink:href="<%- ciconsUrl %>#share"></use></svg></button>
                <button id="deleteButton"><svg><use xlink:href="<%- ciconsUrl %>#trash"></use></svg></button>
        
                <button id="fullscreen">
                    <svg id="fullscreen_enter"><use xlink:href="<%- ciconsUrl %>#fullscreen"></use></svg>
                    <svg id="fullscreen_exit"><use xlink:href="<%- ciconsUrl %>#fullscreen_exit"></use></svg>
                </button>
            </div>
            <div id="modalShare">
                <div id="shareList">
                    <%- shareList %>
                </div>
                <div id="addShare">
                    <input id="addShareInput"/>
                    <button id="addShareSubmit"><svg><use xlink:href="<%- ciconsUrl %>#send"></use></svg></button>
                </div>
            </div>
            <div id="modalDelete">
                <p>Supprimer ?</p>
                <div id="deleteAnswer">
                    <button id="deleteYes">Supprimer</button>
                    <button id="deleteNo">Annuler</button>
                </div>
            </div>
            <div id="modalExport">
                <p>Exporter</p>
                <ul>
                    <li onclick="showExportDiv('exportPdf', 'showExportPdf')" id="showExportPdf" class="showExportButton selected">PDF</li>
                    <li onclick="showExportDiv('exportMd', 'showExportMd')" id="showExportMd" class="showExportButton">Markdown</li>
                </ul>
                
                <div class="exportDivs" id="exportPdf">
                    <label>Thème :</label>
                    <select id="exportPdfSelectTheme" class="exportSelect">
                        <option value="light" selected>Clair</option>
                        <option value="dark">Sombre</option>
                    </select>
                    

                    <a href="/note/<%- noteId %>/pdf?theme=light" class="exportButton" id="exportPdfButton">EXPORTER</a>
                </div>
                <div class="exportDivs" id="exportMd">
                    <a href="/note/<%- noteId %>/md" class="exportButton" id="exportMdButton">EXPORTER</a>
                </div>
            </div>

            <div id="modalErrorWrapper">
                <div id="modalError">
                    <p id="modalErrorText">ERROR TEXT</p>
                    <div id="modalErrorAnswerDiv">
                        <button id="modalErrorAnswer">OK</button>
                    </div>
                </div>
            </div>

            <div id="note-content">
                <%- content %>
            </div>

            </div>

            <div id="edit-content">
                <form method="post" action="" id="editForm">
        
                    <input id="titleInput" type="text" name="title" placeholder="<%- titleHolder %>" value="<%- title %>" spellcheck="false" autocomplete="off">
                    <div id="titleText" class="noteText" contenteditable="true" placeholder="<%- titleHolder %>" spellcheck="false"></div>
                    <div id="title_separator"></div>
        
                    <%- error %>
                    <p id="booksInputLabel-top"><%- booksInputLabel %></p>
                    <%- books %>
                    <a href="#" id="buttonShowNewBook" class="buttonNewBook"><svg>
                            <use xlink:href="<%- ciconsUrl %>#add"></use>
                        </svg></a>
                    <p id="booksInputLabel-right"><%- booksInputLabel %></p>
                    <br />
                    <a href="#" id="buttonHideNewBook" class="buttonNewBook"><svg>
                            <use xlink:href="<%- ciconsUrl %>#cross"></use>
                        </svg></a>
                    <input id="newBookInput" type="text" name="newBookInput" spellcheck="false">
                    <a href="#" id="newBookSubmit"><svg>
                            <use xlink:href="<%- ciconsUrl %>#send"></use>
                        </svg></a>
        
                    <textarea id="noteInput" class="textInput" name="text" placeholder="<%- textHolder %>" spellcheck="false"><%- text %></textarea>

                    <div id="noteEditor"></div>
        
                    <div id="editor-loading">
                        <svg><use xlink:href="<%- ciconsUrl %>#loading"></use></svg>
                    </div>
                </form>
            </div>
        </div>

        <p id="token" style="display: none;"><%- token %></p>
        <p id="nid" style="display: none;"><%- noteId %></p>
        <p id="isOwner" style="display: none;"><%- isOwner %></p>
        <p id="canEdit" style="display: none;"><%- canEdit %></p>
        <p id="apiHost" style="display: none;"><%- apiHost %></p>
        <p id="errorTextCantSave" style="display: none;"><%- errorTextCantSave %></p>
        <p id="errorTextWaitWhileSaving" style="display: none;"><%- errorTextWaitWhileSaving %></p>
        <%- jsFiles %>
        </body>
    </body>
</html>